
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #ffffff;
    color: #333333;
    padding: 20px;
}

.travel-section {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.travel-section h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5px;
}

.travel-section .subtitle {
    font-size: 1rem;
    color: #666666;
    margin-bottom: 25px;
}

.card-container {
    display: flex !important;
    gap: 20px;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom: 15px;
}


.card-container::-webkit-scrollbar {
    height: 6px;
}

.card-container::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 10px;
}


.travel-card {
    flex: 0 0 calc(33.33% - 14px); 
    background: #ffffff;
    overflow: hidden;
}

.travel-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px; 
    margin-bottom: 15px;
    transition: transform 0.3s ease;;
}

.travel-card:hover img {transform: scale(1.05); cursor: pointer;}

.travel-card h3 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: #111111;
}

.travel-card p {
    font-size: 0.95rem;
    color: #555555;
    line-height: 1.5;
}


.season-banner-container {
    width: 100%;
    max-width: 1200px;
    margin: 20px auto;
    overflow: hidden;
    border-radius: 12px;
}

.season-main-img {
    width: 100%;
    height: auto;
    display: block;
}